*{
  box-sizing: border-box ;
  font-family: 'Texturina', serif;
  margin: 0 ;
  padding: 0;
}
body{
  background :/*linear-gradient(-45deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.8) 100%),*/ url("./images/small.jpg") no-repeat center center fixed;
  background-size :cover ;
  color: #f2f2f2;
  display :flex ;
  justify-content :center ;
}
input{cursor: pointer;}
main{
  background-clip: padding-box;
  backdrop-filter: blur(8px);
  min-height: 100vh ;
  flex-basis: 100%;
}
h1, h3, h4{text-align: center ;}
h3{margin-top: 1.5rem ;}
#guess{
  background: transparent ;
  border: 1px solid #f2f2f2 ;
  border-radius :0.25rem ;
  color: #f2f2f2 ;
  display: block ;
  height: 3rem ;
  margin :3rem auto  1rem;
  outline: none ;
  padding-left: 1rem ;
  width :80%
}

.buttons{
  display: flex ;
  justify-content: space-evenly ;
  margin-top: 2rem ;
}
.buttons input{
  border :0;
  border-radius :0.25rem ;
  font-weight: 900;
  height: 2rem ;
  outline: none;
  padding-bottom :0.25rem ;
  text-transform: uppercase ;
  width :35%;
}
#button_guess {background: #69C6C0;}
#play{background: yellow;}

.output{
  height: 3rem ;
  margin: 2rem auto ;
  padding-top: 0.4rem ;
  text-align: center ;
  width :80%;
}
#guess::placeholder{font-size :1.2rem ;}
h4{color: #f37e1f;}
ul {
  display :flex ;
  flex-wrap: wrap ;
  list-style-type :none ;
  justify-content :space-around ;
  margin: auto;
  padding :1rem ;
  width: 80%;
}
ul li{
  background :#02507F ;
  margin :0.5rem ;
  padding: 0.5rem ;
}
/*text animation*/
.blink{animation:blinkingText 2s linear infinite;}
@keyframes blinkingText{
    0%{color: red;}
    20%{color: red;}
    40%{color: transparent;}
    80%{color:transparent;}
    100%{color: blue ;}
}
/*tab view*/
@media all and (min-width:48rem){
  body{background :/*linear-gradient(-45deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.8) 100%),*/ url("./images/big.jpg") no-repeat center center fixed;}

  #guess{width :40%;}

  .buttons{justify-content: center ;}
  .buttons input{
    margin: 1rem;
    width :17.5%;
  }
  h4, .output{font-size: 3rem;}
  ul{
    justify-content: center;
    width: 40%;}
}